*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    font-size: 16px;
    background-color: white;
    margin-top: 30px;
    width: 40%;
    height: 440px;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-columns: 200px 200px 200px 200px ; */
    grid-template-rows: 80px 80px 80px 80px 80px ;
    padding: 5px 8px;
    padding-right: 26px;
    gap: 6px;
}
.display{
    grid-column : span 3;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px 15px;
}

.btn, .btncss{
    font-size: 1.8em;
    background-color: rgb(17, 161, 17);
    border: none;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    color: white;
}
.input{
    font-size: 2em;
}
